body{
  opacity: 10;
  background-image: linear-gradient(to left,#051e22f3,#5a944dbd),url(https://i.pinimg.com/736x/1c/53/5e/1c535ece9f13e52b19c2a9bc27374e63.jpg);
  font-family: monospace;
}
#upper-menus{
  display: flex;
  gap: 2vh;
  width: 85vh;
}
#upper-menus a{
  color: black;
  border: none;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 550;
  margin-left: 1vh;
  text-align: center;
  padding: 2vh;
}
a {
  position: relative;
}
a::before,
a::after {
  content: "";
  position: absolute;
  display: block;
  border: 0 solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.2s ease;
}
a::after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}
a::before {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}
a:hover::before,
a:hover::after {
  width: 100%;
  height: 100%;
  border-width: 1vh;
  border-style:dashed;
  border-color: #274520bd;
}
#left{
    align-items: center;
}
#insider h2{
  font-size: 6vh;
  color: orange;
}
#insider h1{
  margin-left: 1px;
  font-size: 10vh;
  font-family: monospace;
}
#insider{
  line-height: 3vh;
  margin-top: 10vh;
  margin-left:5vh ;
}
#footer{
    display: flex;
    gap: 2vh;
    text-align: center;
    cursor: pointer;
}
#right{
  position: relative;
  width: 50%;
}
#right img{
  border-width: 1vh;
  border-color: #FBBE6A;
  border-radius: 2vh 2vh 2vh 2vh;
  margin-top:8vh;
  margin-left: 50vh;
  margin-right: 0;
  opacity: 1;
  display: block;
  width: 50vh;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
#effect{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#right:hover #img{
  opacity: .3;
}
#right:hover #effect{
  opacity: 1;
}
#shown{
  background-image: linear-gradient(to left,#451E61,#FBBE6A);
  color: rgb(10, 2, 2);
  font-size: 20px;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 2vh;
  cursor: pointer;
}
#shown button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: large;
}
#body{
  display: flex;

}