body{
    background-image: linear-gradient(to left,#051e22f3,#5a944dbd),url(https://i.pinimg.com/736x/1c/53/5e/1c535ece9f13e52b19c2a9bc27374e63.jpg);
}
#upper-menus{
    display: flex;
    gap: 2vh;
    width: 85vh;
}
#upper-menus a{
    color: black;
    border: none;
    text-decoration: none;
    font-size: 4vh;
    font-weight: 550;
    margin-left: 2vh;
    text-align: center;
}
a {
  position: relative;
}
a::before,
a::after {
  content: "";
  position: absolute;
  display: block;
  border: 0 solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}
a::after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}
a::before {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}
a:hover::before,
a:hover::after {
  width: 100%;
  height: 100%;
  border-color: #A6A6A6;
}
#body{
    display: flex;
    gap: 80vh;
}
#left{
    align-items: center;
}
#insider h2{
    font-size: 6vh;
    color: orange;
}
#insider h1{
    font-size: 10vh;
}
#insider{
    margin-top: 10vh;
    margin-left:5vh ;
}
#right img{
    width: 60vh;
    border-radius: 2vh 2vh 2vh 2vh;
    margin-top:8vh;
    margin-right: 2vh;
}
#footer{
    display: flex;
    gap: 1vh;
    text-align: center;
}